.home-content{
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    height: 70vh;
}
.home-container{
    align-items: center;
    width: 699px;
}
.home-container h1{
    color: black;
    font-size: 5rem;
    padding-bottom: 30px;
}
.home-container p{
    color: black;
    padding-bottom: 20px;